<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622509087612-huah3d0hvag74crtd246q7omahh4ji7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622509087612-huah3d0hvag74crtd246q7omahh4ji7d</string>
	<key>API_KEY</key>
	<string>AIzaSyATQCJwVstnm2A8nuovMGG2v63HPFl0XAE</string>
	<key>GCM_SENDER_ID</key>
	<string>622509087612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tulip.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fddd7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fddd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622509087612:ios:3a8654ce281d8a821262f9</string>
</dict>
</plist>